[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hettreatreg"]
	path = hettreatreg
	url = https://github.com/tslocz/hettreatreg
